
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Marhey:wght@300&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

h2{
    margin: 0;
    font-family: 'M PLUS Rounded 1c';
}
h1 {
    font-family: 'Marhey';
}
/*header*/
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color:#F5EED9;
    display: grid;
    grid-template-columns: 150px auto;
}
header h1 {
    font-family: 'Marhey';
}
.block1 {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 100px;
}
nav {
    width: 50%;
    margin-left: auto;
    height: 100px;
}
nav a {
    text-align: center;
    text-decoration: none;
    font-family: 'Marhey';
    background-color: #5B79CC;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    
    border-radius: 5px;
} 
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #e3864c;
    color: white;
}
/*welcome card*/
#welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #FFC53C;
}
.welcome-img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 30px;
    padding: 30px;
}
#welcome h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-right: 30px;
}
#welcome h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 30px;
}
/*Dropbox card*/
#dropbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #F5EED9;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.dropbox-img {
    grid-column: 2/3;
    grid-row: 1/3;
}
#dropbox h2 {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 30px;
    margin-top: 80px;
}
/*bulletin card*/
#bulletin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #9F624B;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.bulletin-img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 30px;
}
#bulletin h2 {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-right: 30px;
    margin-top: 80px;
}
/*selling image card*/
#selling-card {
    background-color: #5B79CC;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.sell-img {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-top: 25px;
    margin-left: 230px;
}
#selling-card h1 {
    grid-column: 2/4;
    grid-row: 1/2;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-top: 165px;
    z-index: 1;
}
.product-button {
    display: block;
    align-content: center;
    background-color: #e3864c;
    color: white;
    font-family: 'marhey';
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    margin-left: 650px;
    border-radius: 5px;
    width: 100px;
}
/*footer*/
footer {
    background-color: #F5EED9;
    color: #000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #000;
}
footer h3 {
    font-size: 1em;
    font-family: 'Marhey';
}    
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
/*Team Page*/
#team-heading {
    padding-top: 20px;
}
#team-heading h1 {
    color: #9F624B;
}
#team-heading h2 {
    color: #5B79CC;
}
/*team cards*/
.tom-card, .timmy-card, .tommy-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    height: 600px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #9F624B;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  button:hover, a:hover {
    opacity: 0.7;
  }
#team-card-container {
    display: flex;
    margin-top: 50px;
}
.team-background {
    width: 100%;
    height: 345px;
    background: linear-gradient(
        to bottom,
        white 50%
        #5b79cc 50%);   
}
/*team bio's*/
#team-info {
    display: flex;
    background-color: #5B79CC;
    color: white;
}
#tom-info h1, #timmy-info h1, #tommy-info h1 {
    color: #FFC53C;
}
#tom-info {
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 290px;
    
}
#timmy-info {
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 260px;
}
#tommy-info {
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 300px;
    
}
/*product page*/
/*image welcome page thingy*/
#product-hero {
    padding: 20px;
    text-align: center;
    background-color: #e3864c;
    color: white;
}
/*product cards*/
#product-info {
    display: flex;
}
#p-card-one {
    max-width: 500px;
    margin: auto;
    text-align: justify;
    background-color: #5B79CC;
    margin: 85px;
    padding: 50px;
    color: white;
}
#p-card-two {
    
    display: float;
    max-width: 500px;
    margin: auto;
    text-align: justify;
    background-color: #5B79CC;
    margin: 85px;
    margin-left: 90px;
    padding: 50px;
    color: white;
}
/*product-tag*/
.product-tag {
    background-color: #9F624B;
    text-align: center;
    color: white;
    padding: 50px;
}
